<h1> Welcome to tha' Home Page! We are the Coding Ronins. </h1>

<body style="background-color:black;">
  
<p>
  <font color= "white">
    
    1) About
    
    2) Links for github - project website and presentation slides which will be google
    drive
    
    3) Screenshot
    
    4) Video Demo
    
    5) Back End Programmers:
        - Josh Yi
        - Aaron Soe
    
        Front End Programmers:
        - William Lam
        - Brandon Wong
        - Warren Xie
    
  </font>
  
</p>
  
</body>
